html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#container{
display: grid;
grid-template-columns: 1fr 1fr;
}

.moto-div{
    border: 2px solid;
    border-radius: 16px 0px 16px 16px;
    background-color: lightpink;
    margin: 12px;
    padding: 12px;
}

.moto-colors{
    display: flex;
    flex-direction: row;
}

.color-div{
    height: 15px;
    width: 15px;
    margin: 4px;
    padding: 2px;
    border-radius: 100%;
    cursor: pointer;
}

.moto-image{
    height: 100px;
    width: 150px;
    border-radius: 8px;
}